<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<app-header></app-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
    <ion-card class="form-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Book Details</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            
            <ion-col size="12">
              <ion-label position="stacked" class="custom-label"><i class="fas fa-barcode fa-lg input-icon"></i>Book ID</ion-label>
              <ion-input name="book_id" required [(ngModel)]="book.book_id"></ion-input>
            </ion-col>

            <ion-col size="12">
              <ion-label position="stacked" class="custom-label"><i class="fas fa-book fa-lg input-icon"></i>Title</ion-label>
              <ion-input type="text" name="title" aria-label="Secondary input" color="secondary" placeholder="Enter title" required [(ngModel)]="book.title"></ion-input>
            </ion-col>

            <ion-col size="12">
              <ion-label position="stacked" class="custom-label"><i class="fas fa-user-edit fa-lg input-icon"></i>Author</ion-label>
              <ion-input name="author" required [(ngModel)]="book.author"></ion-input>
            </ion-col>

            <ion-col size="12">
              <ion-label position="stacked" class="custom-label"><i class="fas fa-calendar-alt fa-lg input-icon"></i>Published Year</ion-label>
              <ion-select name="published_year" [(ngModel)]="book.published_year" (ionChange)="book.published_year = $event.detail.value.toString()" placeholder="Select Year" required>
                <ion-select-option *ngFor="let year of yearsList" [value]="year.toString()">
                {{ year }}
                </ion-select-option>
              </ion-select>
            </ion-col>

            <ion-col size="12">
              <ion-label position="stacked" class="custom-label"><i class="fa fa-sliders fa-lg input-icon"></i>Genre</ion-label>
              <ion-select name="genre" [(ngModel)]="book.genre" (ionChange)="book.genre = $event.detail.value" placeholder="Select Genre" required>
                <ion-select-option *ngFor="let genre of Genre" [value]="genre">
                {{ genre }}
                </ion-select-option>
              </ion-select>
            </ion-col>

            <ion-col size="12">
              <ion-label position="stacked" class="custom-label"><i class="fa fa-money-bill fa-lg input-icon"></i>Price</ion-label>
              <ion-input type="number" placeholder="0.00" name="price" required [(ngModel)]="book.price"></ion-input>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" type="button" [disabled]="bookForm.invalid" class="submit-btn" color="success" (click)="confirmSubmit()">
      <i class="fas fa-plus-circle" style="margin-right: 8px;"></i>
      Add Book
    </ion-button>
  </form>
</ion-content>